@mixin color-box($background: lighten($color-main, 65%), $border: lighten($color-main, 55%)) {
    padding: 10px;
    background: $background;
    /*border: 1px solid $border;*/
}

.block {

    @include color-box;

    h2 {
        color: #444;
        margin-top: 1em;

            &:first-child {
                margin-top: 0;
            }
    }

    > h3 {
        margin-top: 0;
    }

    .dls-speaker-container {
        margin-top: 0;

        img {
            max-width: 75%;
        }
    }

    @include breakpoint(small) {
        img {
            display: none;
        }

        figcaption {
            display: none;
            position: relative;
            width: 100%;
        }

        .spotlight p {
            display: inline-block;
        }
        
        .dls-speaker-container {
            width: 100%;
        }
    }

    @include breakpoint(medium) {
        img {
            max-width: 50%;
        }

    }
    //        max-width: 75%;
    
}

.block-spotlight {
    background: $color-main;
    padding: 0;
    // border-top: 3px solid $color-main;
    border: none;

        h4, p, .content-header {
            color: #fff;
            padding: 0em 20px;
        }

        a {
            color: lighten($color-main, 60%);
        }

        .content-header {
            text-transform: uppercase;
            font-size: 0.7em;
            margin-bottom: 2em;
            margin-top: 1em;
        }

}

.block-spotlight__lighten {
        padding: 20px;
        background: lighten($color-main, 9%);
        margin-bottom: 4%;
    }

.block-spotlight__other {
        background: #cecece;
        padding: 20px;

        h4 {
            color: inherit;
        }

        a {
            color: inherit;
            text-transform: none;
        }
    }

.margin-b {
    margin-bottom: 3em;
}

.block__sidebar {
    @include color-box;
}

.block__download {
    @include breakpoint(small) {
        margin: 1em 0;
        max-width: 75%;
    }

    @include breakpoint(medium) {
        max-width: 50%;
    }

    img {
        @include breakpoint(small) {
            display: none;
        }
    }
}

.spotlight {
    margin-bottom: 2em;
}