 @mixin color-box ($background: lighten($color-main, 70%), $border: #ECF7F7) {
 	padding: 10px;
    background: $background;
	border: 1px solid $border; 
 }

.block {
    @include color-box;
		
		h2 {
			color: #444;
			margin-top: 1em;

				&:first-child {
					margin-top: 0;
				}
		}


		h3 {
			margin-top: 0;
		}



		.dls-speaker-container {
			margin-top: 0;
		}

		@include breakpoint (small) {

			img {
				display: none;
			}

			figcaption {
				display: inline-block;
				position: relative;
				width: 100%;
			}

			.spotlight p {
				display: inline-block;
			}

			.dls-speaker-container {
				width: 100%;

			}
		}
    }

  .block__sidebar {
		@include color-box;
 	}

  .block__download {
  	@include breakpoint (small) {
  			margin: 1em 0;
			max-width: 75%;
		}
	@include breakpoint (medium) {
		max-width: 50%;
	}

	img {
		@include breakpoint (small) {
			display: none; }
	}
  }
   
