
body { 
  
  background-color: linear-gradient (#fff 50%, #005596);

  img.geometry {
    width: 100%;
    position: absolute;
    top:0; left:0;
    z-index: -99999; 
	}
}


.hero-bg {
	position:absolute;
	top: 0;
	left: 0;
	max-width: 1200px;
	width:100%;
	z-index: -10;
}



 #content { 
        clear: both;
         }

/** if no hero image on landing page push wrapper down **/
.wrapper.no-landing, .main-content-wrapper.no-landing {
    margin-top: 2em;
}

          
#video-content {
    margin-bottom: 1.618em; }
