
    .main-content-wrapper {
        background: #fff;
        /*@include max-width;*/
        padding: 1em;
        margin-top: -7.7em;

        @include breakpoint (small) {
            float: left;
            margin-top: 0;
            padding-top: 0;
        }

        @include breakpoint (large) {
            margin-top: -7.7em;
        }

    }

body { 
  
  background-color: linear-gradient (#fff 50%, #005596);

  img.geometry {
    width: 100%;
    position: absolute;
    top:0; left:0;
    z-index: -99999; 
	}
}


.hero-bg {
	position:absolute;
	top: 0;
	left: 0;
	max-width: 1200px;
	width:100%;
	z-index: -10;
}



 #content { 
        clear: both;
         }
.breadcrumbs {
    padding-bottom: 1.6em; 
}

/** if no hero image on landing page push wrapper down **/
.wrapper.no-landing, .main-content-wrapper.no-landing {
    margin-top: 4em;
}

          
#video-content {
    margin-bottom: 1.618em; }
