 

#main-content blockquote p {
        font-weight:700;    }
        
.dls-speaker { margin-right:1.618em; margin-top:0.732em;}

.dls-image img {width:100% }

blockquote a {
    float:none;
    font-weight: 700;
    position:relative;
    margin:0; padding:0;
    top: 0; right:0;

}        