/* 

# Basic buttons

Displaying different type of buttons availble

```
<div class="button-group">
    <a href="#" class="button">Compose new</a>
    
    <a href="#" class="button--go">Compose new</a>
    
    <a href="#" class="button--pdf">Compose new</a>

    <a href="#" class="button--document">Compose new</a>
</div>
```

 */

.button {
    font-family: $font-sans;
    background: $color-main;
    border-bottom: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 200ms linear;
    display: inline-block;
    padding: 8px 14px 8px;
    margin: 5px 5px 1em 0;
    border: 0;
    vertical-align: middle;
    float: left;

        &:hover, &:focus {
            color: #fff;
            background: lighten($color-main, 10%);
            box-shadow: none; 
            text-shadow: none;
            border-bottom: none;
        }
        &:visited {
            color: #fff;
            border: 0;
        }
        &:active {
            background: lighten($color-main, 20%);
        }
    }

    .button--go {
        @extend .button; 

            &:after {
            font-family: FontAwesome;
            font-size: 1em;
            font-weight: bold;
            margin: 0 0 0 12px;
            line-height: .5;
            color: #fff;
            content: $fa-var-angle-right;
            text-shadow: none;
        }
}





// read more button
// floats right of the container by default

.read-more, .read-less{
    cursor: pointer;
    float: right;
    margin-bottom: 2em;
    margin: 0; padding: 0; }
            

.events .button {
  /*background:#4DB200;*/
  float:right; }

.events .button:after {
  color: #fff ;}

li .button {
    font-size: 0.9em;
    padding: 5px 20px; }

.icon {
    font-weight: 400; }
    
li .button:hover, li .button:focus {    
    box-shadow : 0 0 2px #446791; }

/**overrighting document hover states*/
.document.large:hover, .document.large:focus {
  background-color: lighten($color-main,10%);
   }

.document.large {
background-color:$color-main; }

.document strong {
  color: #fff; }
    

// alternate button colours for blue footer
.footer .button { 
 color: $color-main !important;   
 font-size: 1em;
 background: white;
 text-shadow: none;
 padding: 5px 14px 4px;
    margin: 5px 5px 3em 0;

    &:hover {
        background: $color-main;
        color: white !important;
        box-shadow: 0px 1px 0 white;
    }

}

 .footer a {
    color: white;
    border-bottom: 1px solid white;

    &:hover {
        border-bottom: none;
    }
 }

.button:after, .footer .button:after {
  
  color:#fff;
   }



/*------------------------------------*\
    #BUTTON TYPES
\*------------------------------------*/


/**
 * PDF
 */




.button--pdf {
    @extend .button;
    position: relative;
        &:after {
        content: ' '; }

        &:before {
            font-family: FontAwesome;
            content: $fa-var-file-pdf-o;
            color: inherit;
            font-size: 1.213em;
            padding-right: 14px;
        }
        strong {
            color: white;
            font-weight: 400;
            letter-spacing: 1px;
        }
        &:hover::before {
            content: $fa-var-download;
            padding-right: 14px;
            font-weight: 400;
            transition: all 500ms linear;
        }
}

.button--document {
    @extend .button--pdf;

    &:before {
        content: $fa-var-file-word-o;
    }
}

.media {
    background: $color-main;
        &:before {
            content: $fa-var-play-circle-o;
            font-size: 1.213em;

            padding-right: 14px;
        }
        &:after {
        content: '';
        } 
}
.rss {
    background: #036 url("../images/icon-rss-small.png") center left no-repeat;
}
.twitter {
    background: #036 url("../images/icon-twitter-small.png") center left no-repeat;
}
.facebook {
    background: #036 url("../images/icon-facebook-small.png") center left no-repeat;
}

.medi.large {
    background: #036 url("../images/icon-medi.png") center left no-repeat;
}
.medi.large:hover, .medi.large:focus {
    background-color: #3e658e;
}


.media em, .document em, .media strong, .document strong {
    display: block;
    color: #dfe9f4;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}
.media em, .document em {
    display: inline;
    color: #dfe9f4;
    padding-left: 7px;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0;
    text-transform: lowercase;
}

a:img:hover {
    border-bottom: none;
}


