
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}


pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

body, select, input, textarea {
    color: #444;
}



ul, ol {
    margin-left: 1.8em;
}
ol {
    list-style-type: decimal;
}
nav ul, nav li {
    margin: 0;
}
small {
    font-size: 85%}
strong, th {
    font-weight: bold;
}
td, td img {
    vertical-align: top;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
textarea {
    overflow: auto;
}
.ie6 legend, .ie7 legend {
    margin-left: -7px;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
input[type="checkbox"] {
    vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}
.ie6 input {
    vertical-align: text-bottom;
}
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}
button, input, select, textarea {
    margin: 0;
}
input:invalid, textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}
::-moz-selection {
    background: #b14a1f;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #b14a1f;
    color: #fff;
    text-shadow: none;
}
a:link {
    -webkit-tap-highlight-color: #ff5e99;
}
button {
    width: auto;
    overflow: visible;
}
.ie7 img {
    -ms-interpolation-mode: bicubic;
}
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visuallyhidden {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.col-1 {
    width: 100px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-2 {
    width: 220px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-3 {
    width: 340px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-4 {
    width: 460px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-5 {
    width: 580px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-6 {
    width: 700px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-7 {
    width: 820px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.col-8 {
    width: 940px;
    margin-left: 20px;
    display: block;
    float: left;
    display: inline;
}
.push-1 {
    margin-left: 140px;
}
.push-2 {
    margin-left: 260px;
}
.push-3 {
    margin-left: 380px;
}
.push-4 {
    margin-left: 500px;
}
.push-5 {
    margin-left: 620px;
}
.push-6 {
    margin-left: 740px;
}
.push-7 {
    margin-left: 860px;
}
.push-8 {
    margin-left: 980px;
}
.first {
    margin-left: 0;
}
.colborder {
    padding-right: 9px;
    margin-right: -11px;
    border-right: 1px solid #ededed;
}

.show-grid {
    outline: 2px solid rgba(0, 0, 255, 0.2);
    background-image: -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(255, 0, 0, 0.2)), to(rgba(255, 0, 0, 0.2)));
    -webkit-background-size: 120px;
    background-image: -moz-repeating-linear-gradient(center left, transparent, transparent 20.0px, rgba(255, 0, 0, 0.2) 20.0px, rgba(255, 0, 0, 0.2) 120px);
}

@media screen and (max-width:630px) {
    .mobile-nav {
    margin-top: 30px;
}
.mobile-nav select {
    padding: 6px 3px;
}


.nav {
    display: none;
}

.header .hgroup h1, .header .hgroup h2 {
    margin-top: 0;
}
h1+h2 {
    margin-top: 0;
}
#main-content .first {
    margin-left: 0;
}
#main-content .col-2 img {
    max-width: 100%}
pre {
    max-width: 97%!important;
}
table {
    word-break: break-word;
    max-width: 97%!important;
}
.headingblock {
    background-position-y: 40px!important;
}

.header #headingtext {
    display: none;
    background: #036;
    background: rgba(0, 51, 102, 0.8);
    padding: 15px;
    border-radius: 8px;
}
body .header #headingtext p {
    margin-left: 0;
}
.header #headingtext img, .header #headingtext p.title {
    display: none;
}

#main-content {
    width: 100%}
body #newsbanner {
    margin-left: 0!important;
}
body #newsbanner ol li {
    padding-left: 3px;
}
body #newsbanner ol li a {
    font-size: .7em;
    height: auto;
    padding-bottom: 4px;
}
body #newsbanner ol li:before {
    content: ""}
ul.news li {
    width: 100%}
ul.news li a {
    width: 45%}


.wrapper .polaroid {
    padding: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: auto;
    margin-bottom: 15px;
    margin-left: 0;
    float: none;
}
.footer .col-1, .footer .col-2, .footer .col-3, .footer .col-4, .footer .col-5, .footer .col-6, .footer .col-7, .footer .col-8, .footer .col-9, .footer .col-10, .footer .col-11, .footer .col-12 {
    margin-left: 2%;
    width: 45%}
.wrapper .push-1, .wrapper .push-2, .wrapper .push-3, .wrapper .push-4, .wrapper .push-5, .wrapper .push-6, .wrapper .push-7, .wrapper .push-8, .wrapper .push-9, .wrapper .push-10, .wrapper .push-11, .wrapper .push-12 {
    margin: 0;
}
.wrapper form .col-1, .wrapper form .col-2, .wrapper form .col-3, .wrapper form .col-4, .wrapper form .col-5, .wrapper form .col-6, .wrapper form .col-7, .wrapper form .col-8, .wrapper form .col-9, .wrapper form .col-10, .wrapper form .col-11, .wrapper form .col-12 {
    width: auto;
    margin: 0;
}
}

@media screen and (max-width:480px) {
    body .header .hgroup h1 {
    font-size: 24px;
    line-height: 1.5;
    padding-top: 30px;
}

body #newsbanner ol li a {
    font-size: .8em;
}
#main-content .col-2 {
    width: 100%;
    margin-left: 0;
}
}


.wrapper {
    margin: 0 auto;
}


small {
    color: #666;
    line-height: 1.4;
}

hr {
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    clear: both;
}
hr.visible {
    overflow: hidden;
    visibility: visible;
    padding: 20px 0 0 0;
    margin: 0 0 20px 0;
    border: 0;
    clear: both;
    border-bottom: 1px solid #ededed;
}
pre, code {
    font-family: 'droid sans mono', monospace;
    font-size: 12px;
    margin: 0;
    white-space: pre;
    background: #fafcff;
    word-wrap: normal;
    outline: 1px solid #b9cfe7;
}
code {
    padding: 1px 2px;
}
pre code {
    display: block;
    padding: 10px;
    outline: 0;
    margin: 0;
}
pre {
    margin: 5px 0 10px;
    padding: 0;
    overflow-x: auto;
}
pre::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
pre::-webkit-scrollbar-track-piece {
    background-color: #ccdced;
    -webkit-border-radius: 5px;
    margin: 1px;
}
pre::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #93b5da;
    -webkit-border-radius: 5px;
}
pre::-webkit-scrollbar-thumb:vertical:hover, pre::-webkit-scrollbar-thumb:vertical:focus {
    height: 50px;
    background-color: #6d9bcd;
    -webkit-border-radius: 5px;
}
pre::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #93b5da;
    -webkit-border-radius: 5px;
}
pre::-webkit-scrollbar-corner {
    background: #56738f;
}

ul, ol {
    margin: 10px 0 10px 0;
    padding: 0 0 0 20px;
}
ul li, ol li {
    margin-bottom: 5px;
}
ul li p, ol li p {
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
    text-align: left;
    margin-top: 10px;
}
table caption {
    text-align: left;
    padding-bottom: 5px;
}
table td {
    padding: 1em;
}

table tr, table th {
    border: 1px solid lighten($color-main, 60%);
    padding: 1em;
}
table tbody tr:nth-child(2n+1) {
    background: lighten($color-main, 65%);
}


.error {
    color: #600;
    background: #ffe6e5 url("../images/error-bg.png") 2% 50% no-repeat;
    border: 1px solid #dfa19f;
}

.alert {
    color: #024;
    background: #fafcff url("../images/alert-bg.png") 2% 50% no-repeat;
    border: 1px solid #afc4e4;
}




ul.news {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    border-top: 1px solid #ededed;
}
ul.news li {
    border-bottom: 1px solid #ededed;
    padding: 6px 0;
    float: left;
}

ul.news .timestamp {
    width: 75px;
    float: right;
    color: #56738f;
}


ul.visual {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.visual li {
    margin-bottom: 10px;
}
ul.visual li strong {
    padding-right: 10px;
    margin-right: 5px;
    text-decoration: underline;
}
ul.visual li img {
    margin-bottom: 10px;
}
ul.visual li a {
    clear: right;
}
ul.inline, ul.inline li {
    float: left;
    position: relative;
}


.header hr {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    border: 0;
}
.header a.logo {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    z-index: 10000;
    top: 25px;
    background: #036 url("../images/uom_logo.gif") no-repeat 15px 15px;
    width: 130px;
    height: 130px;
    display: block;
}
.header .hgroup {
    display: block;
    position: relative;
}
.header .hgroup h1 {
    text-shadow: .5px .5px 4px #024;
    -webkit-text-shadow: .5px .5px 4px #024;
    -moz-text-shadow: .5px .5px 4px #024;
    -o-text-shadow: .5px .5px 4px #024;
    padding: 40px 0 12px;
    font-size: 33px;
    color: #fff;
    line-height: 1;
}
.header .hgroup h1 a {
    color: #fff;
}

.header .hgroup p a, .header .hgroup p a:hover, .header .hgroup p a:focus, .header .hgroup p a:visited {
    text-shadow: 1px 1px 2px #036;
    -webkit-text-shadow: 1px 1px 2px #036;
    -moz-text-shadow: 1px 1px 2px #036;
    -o-text-shadow: 1px 1px 2px #036;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: normal;
    line-height: 1;
}

.polaroid {
    background: #fff;
    padding: 5px!important;
    border: 1px solid #f2f2f2;
    margin-left: -6px!important;
    margin-right: -6px!important;
}

.header .hgroup p {
    *top: 8px;
}
.main {
    *background: none;
}
.pullout {
    *padding: 0;
    *left: 0;
}
.pullout ul li a {
    *padding: 0;
}
.footer li strong {
    *margin-left: -15px;
}


table td {
    *border: 1px solid #b9cfe7;
}
.wrapper {
    *max-width: none;
    *width: 960px;
}
#newsbanner {
    *width: auto;
    *max-width: 930px;
}

/**

    PRINT STYLE SHEET

**/
@media print {
    * {
    background: white!important;
    text-shadow: none!important;
    color: black!important;
    border-color: #d0d0d0!important;
}
.wrapper {
    width: auto!important;
    margin-left: auto;
    margin-right: auto;
}
.header {
    margin-bottom: 0!important;
}
.hgroup {
    margin-left: 20px!important;
    color: #000!important;
}
.hgroup a {
    color: black!important;
}
.main {
    font-size: 110%!important;
}
.main a:after {
    content: " (" attr(href) ")"}
.main abbr:after {
    content: " (" attr(title) ")"}
.main .ir a:after {
    content: ""}
pre, blockquote, code {
    border: 1px solid #d0d0d0;
    page-break-inside: avoid;
    outline: .5mm solid #d0d0d0!important;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
@page {
    margin: 1cm;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
#newsbanner, div.nav, .footer div#local, #footernav, #g-header {
    display: none;
}

a.icon {
    border: .5mm solid #d0d0d0!important;
}
}