/* ============================================================
	Form
============================================================ */
/* Text input */
.input {
	background-color: #f6f6f6;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	border-color: rgba(0,0,0,0.2);
	border-radius: 0.25em;
	padding: 0.5em; /* 8px */
	vertical-align: middle;
	}
	.input:focus {
		background-color: #fff;
		box-shadow: inset 0 1px 0 rgba(17,34,187,0.1);
		border: 1px solid #12b;
		border-color: rgba(85,34,221,0.5);
	}




/* Combined inputs/buttons */
.combined {
	display: block;
	overflow: hidden;
	padding-bottom: 1px;
	}
	.combined .input,
	.combined [class$="button"] {
		margin: 0;
		border-left-width: 0;
		border-radius: 0;
		float: left;
	}
	.combined input:first-of-type,
	.combined [class$="button"]:first-of-type {
		border-left-width: 1px;
		border-radius: 0.25em 0 0 0.25em;
	}
	.combined input:last-of-type,
	.combined [class$="button"]:last-of-type {
		border-radius: 0 0.25em 0.25em 0;
	}

/* Combined search field */
input[type="search"] + .button {
	box-shadow: none;
	background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNIDE2IDE0LjYgTCAxMC45IDkuNSBDIDExLjYgOC41IDEyIDcuMyAxMiA2IEMgMTIgMi43IDkuMyAwIDYgMCBDIDIuNyAwIDAgMi43IDAgNiBDIDAgOS4zIDIuNyAxMiA2IDEyIEMgNy4zIDEyIDguNSAxMS42IDkuNSAxMC45IEwgMTQuNiAxNiBMIDE2IDE0LjYgWk0gMiA2IEMgMiAzLjggMy44IDIgNiAyIEMgOC4yIDIgMTAgMy44IDEwIDYgQyAxMCA4LjIgOC4yIDEwIDYgMTAgQyAzLjggMTAgMiA4LjIgMiA2IFoiIGZpbGw9IiM5OTkiLz48L3N2Zz4=) no-repeat 50% 55%;
	border-color: transparent;
	overflow: hidden;
	width: 2em;
	text-indent: 2em;
	margin-left: -2em;
}

/* Button Group */
.button-group {
	border-top: 1px solid #e9e9e9;
	padding: 0.75em 0;
	overflow: hidden;
}
@media screen and (min-width:40em) {
	.button-group {
		padding-left: 25%;
	}
}

/* Single checkboxes */
label.check {
	font-weight: 400;
	margin: 0;
	padding: 0;
	float:none;
}
label.check input {
	width: 1.25em;
}
label.check + .caption {
	margin-top: 0;
	padding-left: 2em;
}
@media screen and (min-width:40em) {
	fieldset.options li {
		margin-left: 25%;
	}
	label.check {
		margin-left: 25%;
		float: none;
	}
}

/* Labels */

fieldset p {
	margin-bottom: 1em;
}

fieldset .caption {
	font-size: 0.731em;
	line-height: 2.5em;
}

label,
fieldset.options legend {
	color: #444;
	margin: 0.375em 0; /* 6px 0 */
	font-size: 1em; /* 16px */
	font-weight: 700;
	line-height: 1.5; /* 24px */
	width: auto;
	display: block;
   -webkit-font-smoothing: antialiased;
}
fieldset.options legend {
	margin: 0;
	padding: 0.375em 0; /* 6px 0 */
}
@media screen and (min-width:40em) {
	label,
	fieldset.options legend {
		padding: 0;
		width: 25%;
		float: left;
		display: inline;
	}
}

/* Options list */
fieldset.options {
	clear: left;
}
fieldset.options ul {
	margin: 0;
}
fieldset.options li {
	list-style: none;
	margin-left: 0;
}
@media screen and (min-width:40em) {
	fieldset.options label,
	fieldset.options label.check + .caption {
		margin-left: 0;
	}
	fieldset.options li {
		margin-left: 25%;
	}
}

/* Required text */
abbr[title="Required"] {
	color: #a00;
	font-size: 1.25em;
	font-weight: 400;
	border: 0;
}

/* Field caption */
label.check + .caption,
.input + .caption {
	display: block;
}
@media screen and (min-width:40em) {
	.input + .caption,
	label.check + .caption,
	fieldset.options .caption {
		margin-left: 25%;
	}
}

form {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}
form fieldset {
    position: relative;
    margin-bottom: 10px;
    background: #fafcff;
    padding: 5px 0 20px;
    border: 1px solid lighten(#005596, 60%);
}

form p {
    text-align: center;
    padding: 1px 80px;
}
form input, form textarea, form select {
    padding: 5px;
    margin: 0 0 6px;
    max-width: 100%}
form select {
    margin-top: 8px;
    margin-bottom: 8px;
}
form textarea {
    -webkit-appearance: textfield;
}

form .follower {
    margin: 0;
}
form .follower label {
    display: block;
    font-family: sans-serif;
    text-align: left;
    font-weight: normal;
}
form .follower input {
    margin: 0 3px 0 0;
}
form legend {
    text-indent: -999em;
}
form .col-1, form .col-2, form .col-3, form .col-4, form .col-5, form .col-6 {
    float: left;
    display: inline;
    margin-left: 16px;
    margin-right: 0;
}
form .col-1 {
    width: 95px;
}
form .col-2 {
    width: 206px;
}
form .col-3 {
    width: 317px;
}
form .col-4 {
    width: 428px;
}
form .col-5 {
    width: 539px;
}
form .col-6 {
    width: 650px;
}
form .push-1 {
    margin-left: 127px;
}
form .push-2 {
    margin-left: 238px;
}
form .push-3 {
    margin-left: 349px;
}
form .push-4 {
    margin-left: 460px;
}
form .push-5 {
    margin-left: 571px;
}
form .first {
    margin-left: 0;
}
