/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }



// We use these to control various global styles
$body-bg: #fff !default;
$body-font-color: #444 !default;
$body-font-family: 'Univers LT W01 45 Light', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-font-bold: 'Univers LT W01 65 Bold', Helvetica, Arial, sans-serif;
$body-font-roman: 'Univers LT W01 55 Roman','Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$body-font-weight: normal !default;
$body-font-style: normal !default;

// We use this to control font-smoothing
$font-smoothing: antialiased !default;

// We use these to control text direction settings
$text-direction: ltr !default;
$default-float: left !default;
$opposite-direction: right !default;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}
// We use these as default colors throughout
$color-main: #005596 !default;
$color-light-main: lighten($color-main,10%);
$primary-color: #008CBA !default;
$primary-color-nav: #00457c !default;
$secondary-color: #e7e7e7 !default;
$alert-color: #f04124 !default;
$success-color: #43AC6A !default;
$warning-color: #f08a24 !default;
$info-color: #a0d3e8 !default;


 /* Flexnav Base Styles */

$nav_text: #222;
$top_level: #005596;
$second_level: #fff;
$third_level: #bfbfbc;
$fourth_level: #cbcbc9;


 /* Max page width */
 @mixin max-width {
 max-width: 1000px;
}


// @mixins
//
// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// @mixins
//
// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}

@mixin navhover {
  background: lighten($color-main, 10%);
}

 a[href$=".pdf"] {
    background: url('http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_pdf_icon.gif') no-repeat right center;
    padding-right: 14px;
}


 a[href$=".doc"],  a[href$=".docx"] {
    background: url('http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_doc_icon.gif') no-repeat right center;
    padding-right: 14px;
}



 #content { 
        clear: both;
         }
    
.content-img-left{
    width: 25.3464%;
    float: left;
    margin-right: 1.184em;}
            
.content-img-right{
    width: 25.3464%;
    float: right;
    margin-left: 1.184em;    }    
            
.content-img-right img, .content-img-left img , .content-img {
    padding: 3px;
    margin-top: 0.382em;
    width: 100%; 
  }

figure {position:relative;}

figcaption, .figcaption { 
     position: absolute;
     background: black;
     background: rgba(0,0,0,0.75);
     color: #FFFFFF;
     font-size: 0.732em;
     padding: 5px;
     bottom:6px;
     left: 0px;
 }

          
.video-content, .video-content__embed {
    margin-bottom: 1.618em; }

.horizontal-line {
  border-bottom:2px solid #005596;
  margin-bottom: 1em;
  padding:0 0 0.732em 0; 
}

.horizontal-line h4 {   
  color:#005596;
  margin-bottom:0;
  padding: 0;
}

#breadcrumbs {
  margin: 0 auto;
  padding: 1.618em 0; 
}

#breadcrumbs a:last-child {
  border-bottom:1px solid #003366;
}


.breadcrumbs, .title-wrap {
  /*background:#fff;*/
  display:block;
  margin: 0 auto;
  max-width:1000px;
  width:100%;
}


  
/*.title-wrap {
  background-color: rgb(0,85,150);
  width:100%;
  height:4em; }*/


#breadcrumbs {
  max-width:1000px;
  width:100%;
}

.home #breadcrumbs {
 padding: 0; }

.home #main-content {
 margin-top: 0; }


/*==================================================================*/
/*=======================>> GLOBAL <<===============================*/
/*==================================================================*/  
.main {
  padding: 20px 0 0; 
  background:none;
  /*border-top: 3px solid #005596;*/}

body #g-header { 
  height: 66px; 
}

.nav ul { margin-left: 0;}



p { display: block; margin: 0px; padding: 0px; }


#main-content .page-preview.tall img {
  height:17.942em; }

#main-content .last {
  float:right;
  margin-right: 0;
}
.course-img {
margin-bottom:1.618em; }
/*news page*/
/*reset h3 margins to 0, this doesn't affect the home page news feed*/


/**reduce h3 due to really long titles**/
.projects-page h3 { 
  font-size:1.184em; }

/*make anchor tags not look like a link*/
#main-content a.anchor {
  color:rgb(51,51,51);
color:rgba(51, 51, 51, 0.7);}


/*removing border from linked images*/
#main-content .a-img { border-bottom: none; }

#main-content a.anchor:hover {
border-bottom: none;
  color:rgb(51,51,51);
color:rgba(51, 51, 51, 0.7);}

.mobile-nav select {width:96%;}

/*remove underline from home page anchors*/
#main-content .home a {
  border-bottom: none; }



h1, h2, h3, h4, .pullquote {
  color:#005596; 
}


#main-content p {
    font-size: 1em;
    line-height: 1.618;
    margin: 0 0 1.618em 0;
    max-width: 37em;
    /*overflow:hidden;*/
    }
#main-content p.pullquote {
    border-left: 2px solid #009A49;
    line-height: 28px;
    margin: 0;
    padding-left:0.732em;
    }



/*===========================
    Home main content
=============================*/
li {
    font-size: 1em;
    line-height: 1.618em; }

/*reduce home page h3*/
.home h3 { 
  font-size:1.184em; line-height:1.618em; }

/*columns too wide to fit 8 columns, making smaller
#main-content .home .col-2 { 
  width:30%; }*/
 
#main-content.main .aside { 
  width:23.40455%; margin-top:0; padding-top:0; }

.home h3  { 
  border-bottom: 2px solid #2D71B3; }

#main-content .home h3 a, #main-content .home h3 a:hover { 
  border-bottom:none; }

/*.footer a, .footer  a:active, .footer a:visited {
  color:#007DB9;}*/
  
.main ul, .main ol {
    /*margin-left: -20px;*/
    margin-bottom: 2em;
    margin-top:0.732em; }


#main-content ul li, #main-content li ul li, #main-content li li ul li {
  background: url("http://www.education.unimelb.edu.au/__data/assets/image/0019/815203/list-block-sml.gif") no-repeat 0px 10px;
  padding-left:1em;
  list-style-type: none;
  margin-left:-1em;
  max-width: 35em;
}
/**bullet list style was overlaping due to hanging lists**/
.col-3 ul {
  width:96%; }

/*======================
  TABLES
  =====================*/

  #main-content table {
    margin-bottom:1.618em;
    margin-top:0;
  }
.main table ul {
    list-style:none; }


    
/*.main table tr {
    border-bottom: 1px solid #B9CFE7;
    border-top:none;
    border-left: none;
    border-right: none; }*/

.main ul ul {
    margin-left: 0px; }

#main-content ul ul li {
   list-style: none; }


html.pointerevents body.no-logo div.wrapper div.aside {
    margin-top: 40px; padding: 0; }



.nav ul { margin-top:1em;}        







/*======================================================
    latest news
=====================================*/
#main-content .news-wrap img {
  margin-right:1em;
  width:25%;
  float:left;
}

/*===========================================
    LIBRARY
    =======================================*/

.right {
    float:right; }    
  
.clear {
    clear:both; }

.float-clear {
    float:none !important; }

 
/* 
    Master of teaching
*/

.mteach img {
    padding: 3px;
    background: #fff;
    border-radius: 3px;
    margin-top: 0.732em; }




/*===============================================
  MOVING THIS STUFF OUT OF min 530px
  =============================================*/



.page-preview { 
  position: relative; 
  margin-bottom:1.618em;
}

.col-2.page-preview {
    width:31%; 
  }

.col-3.page-preview {
    width:48%  
  }
    

 
.left-column {
    width: 65%;
    float:left;
    margin-right:1em; }
        
.right-column {
   width:27%;
   float:left;}
   
 



#main-content img {

   margin-top:0.382em;
   width: 100%; }


 
/*================================================
   MEDIA QUERIES
   =============================================*/

   /**
    NEW DESIGN V 1.1
**/
@media all and (min-wdith:799px) and (max-width: 801px) {
#mobile-nav { display:none; }
}
/*
1185px
*/
@media all and (min-width: 45em) {
body{
  
  background: url("mgseBg-l_small.png") 0em 30em no-repeat,
  url("mgseBg-r.png") 101% 35em no-repeat !important;
  background-color:#fff;
 /**background: url("mgseBg-r.png") 101% 35em no-repeat !important;
  background-color:#fff;**/
}
}


/*iphone portrait
345px*/
@media all and (max-width: 23em) {


  .home #breadcrumbs, .home .mgse-search  {
    display:none; }

  .home .header .hgroup {
    height:103px;
  }
  .home .wrapper-header {
    background: none;
    height: auto;
  }
    .mobile-nav {
    display:block !important;
    float:left;
    margin-top:-3em;
    padding: 0 10px;
    width:96%;
    }

    #main-content .nav {
      display:none !important;
    }
   
 #breadcrumbs {
 width:96%;
 padding:1em 10px;
 margin:0;
 float:left;}

#main-content .page-preview {
    float:left;
    margin-left: 0;
    width:100%;
  }

#main-content .home .page-preview {
  margin-left:0;
  width:100%;
}

#main-content .col-3, #main-content .col-2 {
  display:inline-block;
  margin-left:0;
  margin-bottom: 1em;  
  width:100%;
  float:left; }

/**newsbanner*/
  #newsbanner {
  height:auto !important; }
  
  #newsbanner ol { 
  display:block;
  float:left;
  width:100%;}
  
  #newsbanner ol li {
  display:inline; 
  width:25%;
  float:left; }
  
  body #newsbanner ol li a {
  font-weight:400;
  font-size:1em;}
 
 #newsbanner #banner-clip {
 width:100%; }

/*#main-content .page-preview p {
  margin-top:1em; }*/

.glance-clear {
  float:left;
  margin:0;
  width:100%; }

/**
  banner-roller-styles
**/

 #home-page #home-banners,#home-page #home-banners .home-banner, #home-banners .home-banner img {
  height:200px;}
  
.banner-img-wrapper {
 width:100%; }
#main-content #home-banners .home-banner .summary {
background: rgba(255,255,255,0.75);
height:200px;
position:absolute;
width: 100%;
font-size:130%;}

#home-banners .home-banner .summary h4, #home-banners .home-banner .summary strong, #home-banners .home-banner .summary p {
font-size:65%;
margin:0 10px;}

#home-banners .home-banner .summary h2 {
 font-size:100%;
margin-top:1em;
margin-left:0;}

#main-content .summary p {
font-size:0.732em;
margin: 0 }

#home-banners .home-banner .summary .hero-heading {
 font-size:100%;}
 
#main-content #home-banners .banner-navigation {
 bottom:-70px;}

}

/*1000px*/
@media all and (max-width:64em) {


body {
  
  background: url("mgseBg-l.png") -13.5em 12em no-repeat,
  url("mgseBg-r.png") 101% 35em no-repeat !important;
  background-color:#fff;
  background: -moz-linear-gradient (#fff 20%, #005596);
  transition: 0s;
}



#main-content #home-banners .home-banner .summary {
font-size:130%;}

.summary h2 {
font-size:100%;}

#home-banners .home-banner .summary h4, #home-banners .home-banner .summary strong, #home-banners .home-banner .summary p {
font-size:65%;
margin:0 10px;}

#main-content .summary p {
font-size:0.732em;
margin: 0 }

#home-banners .home-banner .summary .hero-heading {
 font-size:100%;}
 


 }

/**GLOBAL
770px**/
@media all and (max-width:50em) {

  html {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    
  }
  body {
    width: 100%;
    background:#fff !important;
  }

  .wrapper {
    width:96%;
  }
  
  .wrapper-header {
  background: #00457C;}
  
  .header {
  width:100%; }
  
  
  .header .hgroup {
    height: 145px;
  }
  
  #breadcrumbs {
  width:96%; }
  
 .title-wrap {
    margin-bottom: 2em;
    width:100%;
    /*padding: 1em 10px;*/
    /*float:left; */} 
    
  .col-6 {
  width: 72.9166667%;}
  
 #main-content .first.page-preview {
    margin-left:0;}
     
  
  
  .nav {display:block;}
  
  
 .home #newsbanner ol li a {
  font-weight:700;
  height: 5em; }

/**banner-roller**/
  #main-content #home-banners .home-banner .summary {
background: rgba(255,255,255,0.75);


font-size:130%;}

.summary h2 {
font-size:100%;}

#home-banners .home-banner .summary h4, #home-banners .home-banner .summary strong, #home-banners .home-banner .summary p {
font-size:65%;
margin:0 10px;}

#main-content .summary p {
font-size:0.732em;
margin: 0 }

#home-banners .home-banner .summary .hero-heading {
 font-size:130%;}

  }

/**768px **/
@media all and (max-width:40.500em) {

.header .hgroup {
height: auto; }

.breadcrumbs, .title-wrap {
width:100%;
}

.title-wrap {
  margin-bottom: 2em;
}
  
  .mobile-nav {
    display:block !important;
    float:left;
    margin-top:0;
    padding: 0 10px;
    width:96%;
    }
   
   .nav {display:none;}
  
  #breadcrumbs {
    width:96%;
    padding:1em 0;
    margin:2em 0 1em 1em;
  }

  h1.title {
  display:inline-block;
  margin-top: 1em;
  margin-bottom:0.482em;

  @include breakpoint (small) {
      margin-bottom: 0;
      margin-top: 0;
    }
   }
  
  .footer .col-2 {
  width:100%;}

    #main-content .page-preview {
    width:48%;
    margin-left:4%;}
    
     #main-content .first.page-preview {
     margin-left:0;}
    
    .col-6 {
    width:100%;}
}
/**672px**/
@media all and (max-width:45em) {
  
 #main-content .glance.col-2, #main-content .glance-clear {
 float:left;
 margin-left:0;
 width:100%; }
 
#banner-wrapper {
 position:relative;}
 
 .header {
  width:100%;
  background: none;
  float:left;}
  
  .wrapper-header {
  background: #ffffff;
  height:170px;
   }
  
 

 #breadcrumbs {
 font-size: 0.732em;
 float:left;
 padding:1em 10px;
 margin:0;
 width:96%;}
 
 }

 /**small devices
 ~600px**/
 
 @media all and (max-width:40em) {
 
 body {
  background: none !important;
  background-color:#fff;
  font-size:16px;  }

 .wrapper-header {
  background: #ffffff;
  height:auto;
  float:left; }

    
  #main-content {
margin-top:1.263em; }

    #main-content .col-3.page-preview { 
    width:100%; }
 
 .wrapper {
 padding: 0; }
   
  .col-2 {
  width:100%;}
  
#main-content.main .aside {
 width:100%; }

  .nav {
  margin-top: 50px; }
  
  .wrapper .menu { 
  position: absolute;
  right: 0px; 
  top: 40px;
  float:none; }
  
  #nav.opened {
  background: #c4c4c5;
  height:300px;
  width:100%; }
  
  a#nav-toggle {
  color: #fff;
  position: absolute;
  right:1em;
  top:1em; }
  
  /**newsbanner*/
  #newsbanner {
  height:auto !important; }
  
  #newsbanner ol { 
  display:block;
  float:left;
  padding:0;
  width:100%;}
  
  #newsbanner ol li {
  border-bottom:none;
  display:inline; 
  width:50%;
  float:left;
  height: 5em;
}
  
  
 .home #newsbanner ol li a {
  font-weight:400;
  font-size: 0.9em;}
  
  .home #newsbanner ol li a:hover, .home #newsbanner ol li a:focus {
  border-bottom: none;
  background: none;
  }
 

 .home #newsbanner ol li.selected {
background: rgb(220, 227, 234); }
 
 #newsbanner #banner-clip {
 width:100%; }
 
.right-column.glance, #main-content .col-2.glance {
 float:left;
 background: url("http://www.education.unimelb.edu.au/_mappdesign/mapp_design.css/MTeach2013.png") no-repeat scroll 0 0 / 100% 5em #ECF7F7;
 width:100%;
 }

.mgse #g-header #g-global-menu li a {
    font-size:1em;
    height:2em;
    line-height:2em;
 }
 
 .mgse #g-global-search {
 height: 3em;
}

.main ul, .main ol {
 margin: 0; padding:0 20px 0;}
 
.accordion-content {
margin-bottom:1em;}

.horizontal-line h4 {
margin-bottom: 0;}

hr.visible {
 visibility: hidden;}
 
 .projects-page h3 {
 margin-bottom: 0.732em;}
 
  }




