
h1, h2, h3, h4 {
    padding: 0; }
    
/*li {
    list-style:none;
    }   */ 
    
#main-content .first { margin-left:0; margin-top:0; }  

ul li, ol li {
  margin-bottom: 0.618em; }

.anchorNostyle:hover {
	border-bottom: none;
}




.home {
	h3 a, .h3 a {
		border-bottom: none; }

	.main-content-wrapper {
  		margin-top: 0; } // remove gap when no breadcrumbs on homepage 

  	.breadcrumbs {
		padding: 0; } // remove default margin on home page
}
