
/*===========================================
    TYPOGRAPHY
    ========================================*/

    /* Modular Scale
  ----------------------
  16px @ 1:1.618  
220px @ 1:1.618 
  ----------------------*/


body {
	 font-family: $body-font-family;
    line-height: $base-line-height;
    font-size: $base-em-font-size; 

    @include breakpoint (small) {
      font-size: 90%;
    }

}

em, i {
 font-family: 'UniversLTW01-45LightObl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-style:normal; 
 font-size:1em; 
}


h2 {
  font-family: 'Univers LT W01 65 Bold', 'Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:2.006em;
    line-height: 2.618em;
    margin-bottom: 1.618em;
    padding: 0; }
  

#main-content strong, b { 
    color:#20201e;
    font-family:'Univers LT W01 65 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 400;
    font-size:1em;
    line-height: 1.618em; }

h3 { 
    font-family: $body-font-roman;
    font-weight: 400;
    font-size:1.618em;
    line-height: 1.184em;
    margin: 0 0 1em 0;
    padding: 0; 

	
	     &:hover {
		      background: none; } 
  }

h4{
    color: #20201e;
    font-size:1.184em;
    font-family:'Univers LT W01 65 Bold','Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom:1.184em; }

h5 {
    color:$color-main;
    font-family: 'Univers LT W01 65 Bold','Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:1em;
    line-height: 1.184em;
    margin: 0 0 0.732em 0;
    padding: 0; }



strong, b {
  font-family: 'Univers LT W01 65 Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight:400; }

.date { 
  font-family: 'UniversLTW01-67BoldCn', Helvetica Nueue, Arial, sans-serif;
  color:#444; 
  display:block;
  font-weight: 400; 
  font-size:1em; }


.opinion-name, .time-stamp, .source-name {
  font-family:'UniversLTW01-57Condense 723821',Helvetica Nueue, Arial, sans-serif;
  text-transform: uppercase;
  font-size:0.732em; }


.hgroup a, .breadcrumbs a {
	border-bottom: none;

  @include breakpoint (small) {
    font-size: 0.732em;
  }
}

a.button {
    margin-bottom: 3em; }

.home a, #main-content .home a:active, .footer a, .home h3 {
    /*color:#009a49;*/
    color:#00447C;
    transition-property: background-color;
    transition-timing: ease-out;
    transition-duration: 0.5s;
    line-height:1.618em; }




    a, a:active, a:visited {
    border-bottom: none;
    color: $color-main;
    transition-property: color;
    transition-timing: ease-out;
    transition-duration: 1s;
    line-height: 1.618em;
    transition-property: color;
    transition-timing: ease-out;
    transition-duration: 1s;
    text-decoration: none;
    }
    
    a:hover {
      color: lighten($color-main,10%);
      border-bottom: 1px solid lighten($color-main, 10%);
      transition-property: color;
      transition-timing: ease-out;
      transition-duration: 1s;
    }

  
.pullquote, #main-content .intro {
  color: #20201e;
  font-size: $ms-up1;
  font-family: $body-font-family;
  line-height: $base-line-height;
  font-weight: 400; 
    
    @include breakpoint(small) {
      font-size: 1em; }

  }



table th {
  font-family: 'Univers LT W01 55 Roman','Helvetica Neue', Arial, sans-serif;
  font-weight: 700; }
  
/*====================================
 FORMS
=======================================*/
/*resets*/

#main-content form label, #main-content form p {
  font-family: 'Univers LT W01 45 Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:400;}

#main-content form h3, #main-content form h4, #main-content form h5 {
  font-family: 'Univers LT W01 65 Bold','Helvetica Neue',Arial,sans-serif;
  font-size:1.618em;
  font-weight:normal;
  text-align: left;
  margin:1em 0 0 0;
  border: none;
  padding:0;}

a.icon {
font-family:'Univers LT W01 45 Light','Helvetica Neue',Helvetica,Arial,sans-serif; }


#main-content a.document, #main-content a.facebook {
   color: #fff; }
    

h1, .nav h2, .aside h2, body.home .main > h2, body.home #main-content > h2 {
    font-family: 'Univers LT W01 55 Roman',Helvetica,Arial,sans-serif;
    font-weight:400;
}
   

h1.title {
    font-family:'Univers LT W01 65 Bold', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.6em;
    line-height: 1.263em;

    @include breakpoint (small) {
      font-size: 2em;
    }  
  }
    
 #newsbanner ol {
        font-family: 'Univers LT W01 45 Light', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;    }
        
 #newsbanner ol li a {
        font-size:0.5em;    }
        
.tabs li {     
    /*font-family: 'Univers LT W01 55 Roman', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif; */
    font-family: 'Univers LT W01 45 Light', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    list-style-image: none; 
}

blockquote {
        font-family:'Univers LT W01 55 Roman','Droid Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight:400;
        margin-top:0.732em;
        }
 


#main-content p.content-intro{
    font-size:1.184em;
    line-height:1.618em;
    font-family: 'Univers LT W01 65 Bold';}

i {
	margin-left: 0.1em;
}


h1.title {
  color:$color-main;
  text-shadow:none;
  line-height:1.5em;
  padding:0;
}


