 
.accordion-wrapper {
  max-width: 40em;
}

.article-title {
    line-height: 28px 
  }

.label {
        border-bottom-color:rgb(0, 85, 150);
        border-bottom:1px solid rgba(0, 85, 150,0.2);
        padding: 0.452em 0;
        display:block;
        cursor: pointer;
        line-height:1.618em;
        margin-bottom: 0.618em;
        position:relative;
        

          &:hover, .collapse-close:hover:after  {
            color: lighten($color-main, 10%);
          }
}
.label:hover:after  {
            color: lighten($color-main, 10%); }

.label:focus, .label:active {
  outline: 1px dotted #003366;
}
        
/**reset margins in accorion content for smoother drop down**/

.accordion-content h4 {
  margin-top: 0;


}

/**
remove margin from accordion content to prevent jumping
**/

body #main-content .accordion ul, #main-content .accordion h5 {
  margin-top:0;
  margin-bottom:1.618em;}

.accordion-content, .accordion {
  background: lighten($secondary-color, 5%);
  margin-bottom: 2em; 
  padding: 0.618em;
  max-width: 36em;
  
}

    
dd .accordion-content {
  margin-top: 0.732em;
  margin-bottom: 1em; }

.collapse-close:after {
  font-family: FontAwesome;
  color: $color-main;
  content: $fa-var-chevron-down; 
  font-size:0.732em;
  float:right;
  margin-top:3px;
  padding-right:7px;
}


.collapse-open {
  color: lighten($color-main, 10%);
}

 .collapse-open:after {
  @extend .collapse-close:after;
    content: $fa-var-chevron-up;
    color: lighten($color-main, 10%); 
}
      


/**    accordion stuff
    ================================================*/       
        /*open close icon for accordion**/
    .collapse-close span {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #EFFAE8;
        height:0;
        width:0;
        position:absolute;
        bottom:-11px;
        right: 20px; }
    
    .collapse-open span {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #EFFAE8;
        height:0;
        width:0;
        position:absolute;
        bottom:-11px;
        right: 20px; }



