#breadcrumbs {
  margin: 0 auto;
  padding: 1.618em 0; 
}

#breadcrumbs a:last-child {
  border-bottom:1px solid #003366;
}


.breadcrumbs, .title-wrap {
  display:block;
  margin: 0 auto;
  max-width:1000px;
  width:100%;
}


#breadcrumbs {
  max-width:1000px;
  width:100%;
}

.home #breadcrumbs {
 padding: 0; }

.home #main-content {
 margin-top: 0; }
