/**
VARIABLES
**/

$banner-height: 350px;





.main-carousel {
  /*max-width: 960px;*/
}

 .home-banner-wrapper {
  margin: 0 auto;

}

#home-banners {
  @include breakpoint(medium) {
    max-width: 75%;
  }
}

#home-banners .banner-navigation {
  background: $color-main;
  bottom: -10px;
  border-radius: 2px;
  padding: 10px 0 10px 10px;
  position: absolute;
  right: 10px;
  top: auto;
  width: auto;
  z-index: 10;


  @include breakpoint (large) {
  bottom: 0;
  right: 10px;
  top: auto; 
  width: auto;
  left: auto;
  font-size: 60%;  }

}





.banner-img-wrapper {

   float:left;
   /*height: $banner-height;*/
   width: 100%;
   overflow: hidden;

   @include breakpoint(medium) {
    width: 100%; }

    @include breakpoint(large) {
    width: 60%; }
}

@media all and (min-width: 990px) and (max-width: 1150px) { 
    .banner-img-wrapper {
      width: 50%;
    } 

    #main-content #home-banners .home-banner .summary {
      width: 50%;
    } 
}

#home-banners .home-banner img {
  width: auto; 

    @include breakpoint(medium) {
      width: auto; }

    @include breakpoint(large) {
      width: 100%; }
}

.home-banner .summary {
  background: rgba(255,255,255,0.9);
  float:left;
  bottom: 0px; 
  left: 0px; 
  position: absolute;
  padding: 1em;
  height: $banner-height;
  width: 100%;

  @include breakpoint(large) {
    background: none;
    position: relative;
    width: 40%; }

  @include breakpoint(small) {
    background: rgba(0,0,0,0.6); }
}



.summary h2 {
color: $color-main;
margin-bottom: 0;
font-size: 176%;
line-height: 1.618em;
text-align: left; 

@include breakpoint(small) {
    color: #fff; }
}

.summary h4 {
 margin-bottom: 0; }

#home-banners .home-banner .summary .hero-heading {
font-size: 160%; 
  
  @include breakpoint(large) {
    font-size: 200%; }
}

#home-banners .home-banner .summary .hero-heading a {
  line-height:1.263em; }

h2.reset-m {
 margin: 0; }

#home-banners .home-banner .subheading {
  font-size: 100%;  
  margin-top: 0; 
    

    @include breakpoint(medium) {
      font-size: 120%;
    }

    @include breakpoint(large) {
      font-size: 180%;
    }
}

#home-banners .home-banner .subheading-sm {
  font-size: 90%;  
  margin-top: 0; 
    
  @include breakpoint(large) {
    font-size: 100%; 
  }
}

#home-banners .home-banner .summary p, #home-banners .home-banner .summary strong, .summary h4, #home-banners .summary a {
  color: $color-main;

  @include breakpoint(small) {
    color: #fff; }
}

#main-content #home-banners {
  margin-bottom: 4em;
  /*margin-top: -50px;*/
}

#home-banners .summary__sm {
  font-size: 90%;
}

.banner:hover .banner-text h2 {
  opacity: 1;
  transition: all 0.5s ease-in;
}

 

/*******************************

  BANNER ROLLER

************************************/
.banners {
  padding: 0px 0px 5px 0px; 
  width: 100% !important; 
  max-width: 100% !important; 
  background: transparent; 
  overflow: hidden; 
}

#home-banners {
  margin: 0px auto 0px;

  @include breakpoint(small) {
    width: 90%;
  }
} 


#home-banners {
  z-index: 2; 
  position: relative; 
  margin-bottom: 5px; 
  height: $banner-height;
  box-shadow: 2px 2px 2px rgba(0, 85, 150, 0.2);

  @include breakpoint(small) {
    box-shadow: none;
  }
}

#home-banners .home-banner {
  position: absolute;
  height: $banner-height;
  overflow: hidden;
  top: 0px; 
  left: 0px; 
  width:100%;

} 



#home-banners .home-banner p, .home-banner h4{
  margin: 1em 0;
  }


.home .home-banners  a {
  color: $color-main;
  border-bottom: none;

}



#home-banners .next-banner, #home-banners .previous-banner, #home-banners .play-pause-banner  {
 margin: 0px 5px 0px 0px; 
 width: 25px; 
 float: left;
 display: block;  
 overflow: hidden; 
 -webkit-transition: opacity 300ms linear;
 text-align: center;
 text-indent: -300px;
}


#home-banners .next-banner:hover {
  opacity: 0.6
}
#home-banners .next-banner:active {
  opacity: 0.6
}
#home-banners .previous-banner:hover {
  opacity: 0.6
}
#home-banners .previous-banner:active {
  opacity: 0.6
}
#home-banners .play-pause-banner:hover {
  opacity: 0.6
}
#home-banners .play-pause-banner:active {
  opacity: 0.6
}

#home-banners {
      

    .previous-banner {
    background: url(data:image/gif;base64,R0lGODlhCQAJAKIFAOXq71Z4mtff5ytVgI+lvAAzZgAAAAAAACH5BAEAAAUALAAAAAAJAAkAAAMZWFohsyoAIKCcYV2Q1wQExHydRopXhTpKAgA7) no-repeat 50% 50%;
     

       /*&:after {
        content: $fa-var-step-backward; 
        font-family: FontAwesome;
        color: #fff;
       }*/

       &:hover {
          border-bottom: none;
        }
  }

  .next-banner {
   background: url(data:image/gif;base64,R0lGODlhCQAJAPIFAOXq71Z4mtff5ytVgI+lvAAzZgAAAAAAACH5BAUAAAUALAAAAAAJAAkAQAMXWDUS+qtBSIB9wQKHNVeC9XUilJUgWiQAOw==) no-repeat 50% 50%; margin-RIGHT: 0px;
      
     /* &:after {
        content: $fa-var-step-forward; 
        font-family: FontAwesome;
        color: #fff;
      }*/

      &:hover {
        border-bottom: none;
      }
  }

  .play-pause-banner {
    background: url(data:image/gif;base64,R0lGODlhCQAJAJECAOXq73OPqwAzZgAAACH5BAEAAAIALAAAAAAJAAkAAAIVFBASJ4bKXFqgnRkvrHLbR30Yp4UFADs=) no-repeat 50% 50%;
    
    /*&:after {
        content: $fa-var-play; 
        font-family: FontAwesome;
        color: #fff;
      }*/

    &:hover {
        border-bottom: none;
      }
  }
}
.paused#home-banners .play-pause-banner {
  background: url(data:image/gif;base64,R0lGODlhCQAJAPMIAI+lvLrI1itVgOXq71Z4mg4+btff58jT3gAzZgAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUAAAgALAAAAAAJAAkAQAQaEKEgpJX02sH52RxQXJ1IGoSGdEMmse6KXhEAOw==) no-repeat 50% 50%
  
 /* &:after {
    content: $fa-var-pause;
    font-family: FontAwesome;
    color: #fff;
  }*/

}
#home-banners .previous-banner {
  
}
#home-banners .next-banner {
  margin-RIGHT: 0px
}
#home-banners .play-pause-banner {
  
}
.paused#home-banners .play-pause-banner {
  
}
#home-banners .banner-count {
  padding: 1px 8px; 
  letter-spacing: 3px; 
  color: rgb(165,195,222); 
  font-size: 11px; 
}

#home-banners .banner-count em {
  font-style: normal
}
#home-banners-alt {
  position: relative; margin: 0px auto; width: 1000px; height: auto; left: 10px
}
#home-banners-alt .home-banner {
  position: relative; float: left; overflow: hidden; TOP: auto; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3)
}
#home-banners-alt .home-banner .summary {
  position: absolute; width: 100%; bottom: 0px; background: rgb(0,51,102); left: 0px; pointer-events: none
}
#home-banners-alt .home-banner p {
  margin: 10px; color: #fff
}

#home-banners-alt .first {
  width: 460px; height: 380px
}
#home-banners-alt .second {
  margin: 0px 0px 20px 20px; width: 460px; height: 180px
}
#home-banners-alt .second img {
  margin-top: -160px
}
#home-banners-alt .third {
  margin: 0px 0px 0px 20px; width: 220px; height: 180px
}
#home-banners-alt .third img {
  width: 100%
}
#home-banners-alt .third p {
  display: none
}
#home-banners-alt .third p.title {
  display: block; font-family: helvetica, arial, sans-serif; margin-bottom: 10px; font-size: 12px}





