

.content-img__left {
    width: 100%;
    float: left;
    margin-right: 1.184em;
    margin-bottom: 1.618em;


}
            
.content-img-right {
    width: 25.3464%;
    float: right;
    margin-left: 1.184em;    }    
            
.content-img-right img, .content-img__left img , .content-img {
    margin-top: 0em;
    width: 100%; 
  }

figure { 
    margin:0;
    padding: 0;
    position:relative; }

figcaption, .figcaption { 
     position: absolute;
     background: black;
     background: rgba(0,0,0,0.75);
     color: #FFFFFF;
     font-size: 0.732em;
     padding: 5px;
     bottom:6px;
     left: 0px;
 }
