

.content-img__left {
    width: 50%;
    float: left;
    margin-right: 1.618em;
    margin-bottom: 1em;


}
            
.content-img__right {
    width: 50%;
    float: right;
    margin-left: 1.618em;
    margin-bottom: 1em;
}    
            
.content-img__right img, .content-img__left img , .content-img {
    margin-top: 0em;
    width: 100%; 
  }

figure { 
    margin:0;
    padding: 0;
    position:relative; }

figcaption, .figcaption { 
     color: #444;
     width: auto;     
     font-size: 0.732em;
     padding: 5px;
     margin-bottom: 1em;
 }


