 
/** Events page filtering **/

#main-content .fileters-nav__list {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -0.22222rem 0 2rem 0;
  padding-top: 0.22222rem;
  margin-right: 0;
  margin-left: -0.66667rem; 

   dt {
    text-transform: uppercase; }

   dt,  dd,  li {
    float: left;
    display: inline;
    margin-left: 0.88889rem;
    margin-bottom: 0.55556rem;
    font-weight: normal;
    font-size: 0.77778rem;
    color: #999999; }

     dt a,  dd a,  li a {
      text-decoration: none;
      border-bottom: none;
      color: #999999;
      font-variant: small-caps;
      padding: 0.16667rem 0.88889rem; }

       dt a:hover,  dd a:hover,  li a:hover {
        color: #fff;
        background-color: lighten($color-main, 10%);
        -webkit-border-radius: 3px;
        border-radius: 3px; }

     dt.active a,  dd.active a,  li.active a {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-weight: normal;
      background: $color-main;
      padding: 0.16667rem 0.88889rem;
      cursor: default;
      color: #fff; }

       dt.active a:hover,  dd.active a:hover,  li.active a:hover {
        background: #999; }
        
      }