/*================================================
    HEADER REPLACMENT
    ===========================================*/    
    .header .hgroup {
        height:145px;
        margin: -2px 0 0 0;    }
        
      .wrapper-header {
        background-color: #00457C;
        width:100%;
        height: 166px;

        @include breakpoint (baby-bear) {
          height: 115px;
        }
      }

      .header {
        margin:0 auto;
        width:1600px;
      }

     #g-global-menu a#g-global-menu-logo {
        display:none;
        /*height:126px;
        width:126px; 
        background-position: 15px 15px;       */} 
        
    .header .hgroup h1 {
        height:145px; 

        a {
          color: #003366;
          }
      }

    .header .hgroup  img {
        height: auto;
        margin-top:3px;
        max-width:100%; 
      
        @include breakpoint (baby-bear) {
         width: 450px;
        }
      }
    
 
    .header {
        position: relative; }
        
    #g-global-menu a#g-global-menu-logo { 
        top: 60px; }


/*iphone portrait
345px*/
@media all and (max-width: 23em) {

  .header .hgroup img {
    height: auto;
  }

  .header .hgroup, .header {
    height:auto
  }

  .header {
    background-color: #fff;
    float:left;
    width:100%;
  }
}
