.hero-img {
	float: left;
	margin-top: 0;
	margin-bottom: 0.618em;
	overflow: hidden;
	height: 6em;
	width: 100%;
	
	
	@include breakpoint (medium) { 
		margin-bottom: 1em;
		background: none;
		height: 10em;
		overflow: hidden;

		img {
			min-height: 320px;
			width: 100%;
		}
	}	

	@include breakpoint (large) {
		height: 16em;

		img {
			min-height: 320px;
			min-width: 100%;
		}
	}

	img {
		width: 100%;
		min-height: 0;
	}
	
}
/**
.hero-shapes {
	  @include triangle(left, 50px, red);
	  position: absolute;
	  top: 150px;
}**/

