.hero-img {
	/*background: lighten($color-main,60%);*/
	height: 8em;
	margin-bottom: 1em;
	margin-top: 0;
	overflow: hidden;
	z-index:10;

	@media all and (min-width: 45em) { 
		background: none;
		height: 10em;
		margin-top: 5em;
	}	
	
	img {
		display: block;
		margin: auto;
	}

	@media all and (min-width: 65em) { 
		background: none;
		margin-top: 0;
	}
}

