@mixin page-preview-title {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Univers LT W01 55 Roman','Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1em;
 }


  .preview-box {
    max-width: 100%;
    text-align: left;
    margin-bottom: 2em; 

    @include breakpoint (large) {
      text-align: left;
    }
  }

/*
padding-top added to maintain aspect ratio: 
http://www.sitepoint.com/maintain-image-aspect-ratios-responsive-web-design/
*/

  .preview-img-wrap { 
    color: #fff;
    border-bottom: none;
    background: lighten($color-main, 85%);
    display: block;
    height: 0;
    margin-bottom: 1em;
    overflow:hidden;
    padding-top: 56.25%; //golden ratio 320px/1.618 = 197.775px prevents gap with header and img when resizing
    position:relative;
    width: 100%;
        


    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      position: absolute;
      left: 0;
      bottom: 0;

      @include breakpoint (small) {
        height: auto;
      }
    }

       .preview-img-wrap__title {
        bottom:0;
        margin-bottom: 0;
        /*background: #005596;*/
        /*padding: 0.184em 0.618em;*/
        position: absolute;
        width:100%; 
        @include page-preview-title;

        
          a {
            background: $color-main;
            color: #ffffff;
            display: block;
            padding: 0.184em 0.618em;

            &:hover, &:focus {
                background-color: $color-light-main;
                border-bottom:none;
                color: #fff;
                padding: 0.184em 0.618em;
                } 
            }
        }

        img:hover {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90)0.6;
          opacity: 0.8;
        }
  }


.project-img-wrap  {
    @extend .preview-img-wrap
}


