  .preview-img-wrap h2 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Univers LT W01 55 Roman','Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1em;

 
 }

  #main-content .preview-img-wrap {
    position:relative;
    overflow:hidden; 


       .preview-img-wrap__title {
        bottom:0;
        margin-bottom: 0;
        /*background: #005596;*/
        /*padding: 0.184em 0.618em;*/
        position: absolute;
        width:100%; 

        
          a {
            background: $color-main;
            color: #ffffff;
            display: block;
            padding: 0.184em 0.618em;

            &:hover, &:focus {
                background-color: $color-light-main;
                border-bottom:none;
                color: #fff;
                padding: 0.184em 0.618em;
                } 
            }
        }
  }


#main-content .preview-img-wrap img:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90)0.6;
      opacity: 0.8;
    }


.project-img-wrap, .preview-img-wrap {
    color: #fff;
    display: block;
    height: 0;
    overflow:hidden;
    padding-top: 197.775px; //golden ratio 320px/1.618 = 197.775px 
    position:relative;
    width: 100%;
    border-bottom: none;
    background: lighten($color-main, 85%);
}

#main-content .preview-img-wrap{
  margin-bottom: 1em;    


  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
