 

/* TABS
    =====================================*/   

        /* root element for tabs  */
    ul.tabs { 
        border-bottom: 7px solid lighten($color-main,10%);
        list-style:none;
        display: inline-block;
        margin:0 0 25px 0 !important; 
        padding:0;
        border-radius: 4px 4px 0 0;
        height:43px;
        width: 100%;

        @media all and (max-width: 45em) {
            height: auto;
        }
    

            li {
                background: none;
                margin: 0;
                padding: 0;
                max-width: 100%;
                float:left;
                text-indent:0;
                border-bottom: none;

                 @include breakpoint (small) {
                    float: none; }
        

                    a {
                            background: $color-main;          
                            border-bottom: none; 
                            border-right: 1px solid darken($color-main, 5%);
                            color:#fff; 
                            height: 3em; 
                            font-size: 90%; 
                            line-height: 40px; 
                            padding: 0.618em 2em;
                            width: auto; 

                            

                                @media all and (max-width: 45em) {
                                /* link inside the tab. uses a background image */
                                border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
                                font-size:0.9em;
                                display:block;
                                text-align:center;    
                                text-decoration:none;
                                margin:0;    
                                position:relative;
                                padding: 0.263em 1em;
                                /*top:1px;*/
                                } 

                            &:hover {
                                border-bottom:none;
                                background:lighten($color-main,10%);
                                transition: background 0.3s; }

                    }

                }

        @include breakpoint (large) {
            a.current {
            background:lighten($color-main,10%);
            color:#fff;
            padding-top: 1em;
            transition: background 0.8s; } 
        }


        @include breakpoint (small) {
            a.current {
            background:lighten($color-main,10%); }

            ul.tabs {
                width: 100%;
            }
        }


    } 

//restrict sizing of images on project page partner sections
.panes--extras img {
    max-width: 50%;

}
.projects .button {
    float: none;
    font-size: 1em;
    width: auto;       
}
        
 /*   
.abstract p {
    font-size: 95%;
}*/

.e4kids .staff-tab img {
  *width:24%;} 


/**quick for e4kids images**/
.e4kids .preview-img-wrap img {
  width:50%; }

 
 .e4kids-preview img { 
    margin-left: -25px;}
 
    

    /* initially all panes are hidden */ 
    .panes .pane {
        display:none;        
    }